{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "new-cap": 0,
    "semi": [2, "never"],
    "consistent-return": 0,
    "comma-dangle": 2,
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { ignore: ['electron'] }],
    "ignoreChainWithDepth": 0,
    "newline-per-chained-call": 0,
  },
  "plugins": [
    "import",
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
